@charset "utf-8";

$size: 30px;
$color: red;

div {
	font-size: $size;

	p {
		color: $color;

		a {
			color: green;
		}
	}

	h1 {
		color: purple;
		text-align: center;
	}

}

